body {
    font-family: 'Arial', sans-serif;
    font-size: 26px;
}

iframe {
    height: 100vh;
}

.fixed-top {
    position: absolute !important;
}

/* .btn-wrapper {
    display: flex;
    align-items: center;
} */

#book-page {
    font-size: 1.3rem;
}

.reading-wrapper button {
    padding: .5rem 2rem;
}

.reading-wrapper .dropdown .dropdown-toggle::after  {
    display: none;
}

.reading-wrapper .dropdown-menu.show {
    left: -75% !important;

}

@media (max-width: 475px) {
    .reading-wrapper button {
        padding: .4rem 1rem;
    }
}