{% extends 'layout.html' %}


{% block content %}
<div class="container">
    <h3 class="mt-4">ABOUT</h3>
    <div class="url-pathname">
        <a href="/" class="text-dark">
            <i class="fa-solid fa-house mr-1"></i>Home</a> /
        <a href="/about" class="text-dark">About</a>
    </div>

    <div class="about-wrapper py-4">
        <h5>{{company_name}} is a reading online book</h5>
        <p>Online book reading page provides a dynamic and immersive platform for users to explore, discover, and
            enjoy a vast collection of books from the comfort of their digital devices. The page typically features a
            user-friendly interface, allowing readers to effortlessly navigate through different sections, including a
            search bar for quick access to specific titles or authors. The platform often showcases a curated selection
            of featured books, introducing users to new and popular releases. Personalization is a key aspect, with
            algorithms offering tailored recommendations based on users' reading history, preferences, and genres of
            interest. The page strives to create an engaging and seamless reading experience, combining visually
            appealing book covers with easy-to-access details about each title. Overall, the online book reading page
            aims to foster a love for literature by providing readers with a convenient and personalized way to explore
            a diverse world of stories.</p>
    </div>
</div>

{% endblock %}