{% extends 'layout.html' %} {% block content %}
{% set url_title = book.title.replace(" ", "-") | lower %}
<div class="container">
    <h3 class="mt-4">BOOK INFORMATION</h3>
    <div class="url-pathname">
        <a href="/" class="text-dark">
            <i class="fa-solid fa-house" id="home-icon"></i>Home</a> /

        <a href="/{{url_title}}" class="text-dark">{{book.title}}</a>
    </div>


    <div class="row mt-5 ">
        <div class="col-12 col-lg-4 col-md-12 col-sm-12">
            <img width="100%" src="{{book.image_url}}" alt="book-cover" class="book-cover">

            <div class="book-info mt-3">
                <p>
                    <b>Author:</b>
                    {% for author in book.authors %}
                    <!-- for url name -->
                    {% set url_author = author.replace(" ", "-") | lower %}

                    <a href="/authors/{{url_author}}" class="text-dark">{{author}}</a>{% if not loop.last%}, {% endif %}
                    {% endfor %}
                </p>
                <p class="genre">
                    <b>Genres:</b>
                    {% for genre in book.genres %}

                    {% set url_genre = genre.replace(" ", "-") | lower %}

                    <a href="/genres/{{url_genre}}" class="text-dark">{{genre}}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><b>Source:</b> {{book.book_source}}</p>
                <p><b>State: </b> <span class="book-state"><b>{{book.state}}</b></span></p>
            </div>
        </div>
        <div class="col-12 col-lg-8 col-md-12 col-sm-12">
            <h2 class="text-center">{{book.title}}</h2>

            <div class="rating text-center">
                <hr>

                <a class="rating-star" book_id="{{book.id}}">
                    {% set book_rating = book.rating | round | int %}
                    {% for i in range(book_rating) %}
                    <i class="yellow-star fa-solid fa-star" id="{{i}}"></i>
                    {% endfor %}
                    {% for i in range(5 - book_rating) %}
                    <i class="fa-solid fa-star" id="{{5 - i - 1}}"></i>
                    {% endfor %}
                    <span class="rating-content"></span>
                </a>

                <p>Rating: <b>{{book.rating | round(1) }}</b>/5.0 from <b>{{book.votes}}</b> people</p>
            </div>

            <div class="book-decs cutoff-text">
                {% for line in book.book_description.split('\n') %}
                <p>{{line}}</p>
                {% endfor %}
                <!-- limit the content -->
            </div>

            <div class="pt-3">
                <button type="button" id="more-btn" class="float-right rounded">Show more »</button>
            </div>

            <div class="text-center mt-5 reading-btn">
                <a href="/{{url_title}}/reading" type="button" class="btn btn-primary">[ Start Reading ]</a>
                <a href="/{{url_title}}/reading" type="button" class="btn btn-warning">Continue Reading</a>
            </div>
        </div>
    </div>

    <!-- Comment section -->
    <div class="comment-header mt-5 mb-5">
        <h2 class="display-5 mr-5"><b>{{book.comments | length}} Comments</b></h2>
        <div class="dropdown" title="Sort comments">
            <button class="cmt-sortby-btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-arrow-up-wide-short"></i>
                <span>Sort by</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Top comments</a>
                <a class="dropdown-item" href="#">Newest first</a>
            </div>
        </div>
    </div>

    <div class="comment-input mt-4 mb-5">
        <div>
            <img class="cmt-avt" src="../static/img/default-avt.jpg" width="44" height="44" alt="avt">
        </div>

        <div class="comment-input-wrapper">
            <input type="text" name="" placeholder="Add a comment...">

            <div class="comment-input-btns float-right mt-3">
                <button type="button" class="btn" id="comment-cancel-btn">Cancle</button>
                <button type="button" class="btn" id="comment-btn" disabled>Comment</button>
            </div>
        </div>
    </div>

    {% for comment in book.comments %}
    <div class="comment-item mt-4">
        <div>
            <img src="../static/img/default-avt.jpg" width="44" height="44" alt="avt" class="cmt-avt">
        </div>

        <div class="comment-input-wrapper">
            <span><b>{{company_name}} User</b></span>
            <span class="comment-time">2 weeks ago</span>
            <p class="comment-content">
                {{comment}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}