{% extends 'layout.html' %}


{% block content %}
<div class="container">
    <h3 class="mt-4">FEATURES</h3>
    <div class="url-pathname">
        <a href="/" class="text-dark">
            <i class="fa-solid fa-house mr-1"></i>Home</a> /
        <a href="/features" class="text-dark">Features</a>
    </div>

    <div class="py-4">
        <ul class="feature-wrapper text-capitalize">
            <li>show more btn in decs</li>
            <li>URL pathname: home/books/Harry Potter</li>
            <li>comment section</li>
            <li>favicon.ico error</li>
            <li>star section</li>
            <li>change url to book's name</li>
            <li>author + genre section,</li>
            <li>MyBooks's User</li>
            <li>search (check if author then find author else find title)</li>
            <li>all books page</li>
            <li>more btn genres</li>
            <li>reading page</li>
            <li>bar button of reading page</li>
            <li>sort book in the homepage //star and count comment</li>
            <li>continue reading, must storage page and section of Flask</li>
            <li>footer</li>
            <li>handle if not exist</li>
            <li><span>TODO</span> sort book comment,</li>
            <li><span>TODO</span> filter function</li>
            <li><span>TODO</span> 404 error</li>
            <li><span>TODO</span> deploy</li>
            <li>? play music when reading book</li>
        </ul>
    </div>

    {% endblock %}